<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="serviceEndpoint2">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_QTQ_STG_VendorService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="serviceEndpoint3">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_QTQ_STG_SalesInvoiceService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="serviceEndpoint1">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_QTQ_STG_CustomerService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="serviceEndpoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_QTQ_STG_AddressService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="serviceEndpoint4">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_TEC_STG_PurchOrderService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="serviceEndpoint5">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_TEC_STG_InventService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="serviceEndpoint2"
                contract="UploadVendorService.IRequestReplyRouter" name="serviceEndpoint2" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQVendService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QTQ_STG_VendorService"
                contract="UploadVendorService.QTQ_STG_VendorService" name="BasicHttpBinding_QTQ_STG_VendorService" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQSalesInvService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="serviceEndpoint3"
                contract="UploadSalesInvoiceService.IRequestReplyRouter" name="serviceEndpoint3" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQSalesInvService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QTQ_STG_SalesInvoiceService"
                contract="UploadSalesInvoiceService.QTQ_STG_SalesInvoiceService"
                name="BasicHttpBinding_QTQ_STG_SalesInvoiceService" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="serviceEndpoint1"
                contract="UploadCustomerService.IRequestReplyRouter" name="serviceEndpoint1" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQCustService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QTQ_STG_CustomerService"
                contract="UploadCustomerService.QTQ_STG_CustomerService" name="BasicHttpBinding_QTQ_STG_CustomerService" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQAddrService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="serviceEndpoint"
                contract="UploadAddressService.IRequestReplyRouter" name="serviceEndpoint" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/QTQAddrService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_QTQ_STG_AddressService"
                contract="UploadAddressService.QTQ_STG_AddressService" name="BasicHttpBinding_QTQ_STG_AddressService" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TecInventService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TEC_STG_InventService"
                contract="UploadInventService.TEC_STG_InventService" name="BasicHttpBinding_TEC_STG_InventService" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TECPurchOrderService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="serviceEndpoint4"
                contract="UploadPurchOrderService.IRequestReplyRouter" name="serviceEndpoint4" />
            <endpoint address="http://dickdastardly.oyezstraker.co.uk/MicrosoftDynamicsAXAif60/TECPurchOrderService/xppservice.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TEC_STG_PurchOrderService"
                contract="UploadPurchOrderService.TEC_STG_PurchOrderService"
                name="BasicHttpBinding_TEC_STG_PurchOrderService" />
        </client>
    </system.serviceModel>
</configuration>